@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
    background-color: #F3F5FC;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    color: #0A3871;
}

header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: baseline;
}

header img {
    height: 40px;
}

main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    background-color: #F3F5FC;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
}

.input-section, .output-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-section {
    border-right: 1px solid #ccc;
}

.output-section {
    border-left: 1px solid #ccc;
    text-align: center;
}

h1 {
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
    font-size: 24px;
    color: #0A3871;
}

textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0A3871;
    color: #fff;
    font-size: 16px;
}

button:hover {
    background-color: #D8DFE8;
}

.note {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.output-section img {
    width: 50%;
    max-width: 200px;
    margin-bottom: 10px;
}

.output-section .output-message {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.output-section button {
    background-color: #6c757d;
}

.output-section button:hover {
    background-color: #D8DFE8;
}

footer {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    background-color: #0A3871;
    width: 100vw;
    text-align: center;
    padding: 5px;
    color: #fff;
}